  
<!DOCTYPE html>
<html>
  <head>
    <title>Pirate!</title>
  </head>
  <body>
  
      <form method="POST" action="/pirates">
      <h3>Pirate</h3>
      <p>Pirate Name: <input type="text" name="pirate[name]"></p>
      <p>Pirate Weight: <input type="text" name="pirate[weight]"></p>
      <p>Pirate Height: <input type="text" name="pirate[height]"></p>
      
      <h3>Ship Number One:</h3>
      <p>Ship Name: <input type="text" name="pirate[ships][][name]"></p>
      <p>Ship Type: <input type="text" name="pirate[ships][][type]"></p>
      <p>Ship Booty: <input type="text" name="pirate[ships][][booty]"></p>
      
      <h3>Ship Number Two:</h3>
      <p>Ship Name: <input type="text" name="pirate[ships][][name]"></p>
      <p>Ship Type: <input type="text" name="pirate[ships][][type]"></p>
      <p>Ship Booty: <input type="text" name="pirate[ships][][booty]"></p>
       
      <input type="submit" value="Submit">
      </form>
    </body>
  </html>


